body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000000;
    font-family: 'Roboto', sans-serif;
}

small{
    color: #00517c;
}

.main-heading-parent{
    background-color: #242424;
    padding: 0.1%;
}

.heading-main{
    color: #13e413;
    text-align: center;
}

.monthly-salary, .monthly-tax, .salary-after-tax, .yearly-salary, .yearly-tax{
    color: white;
}

.btn-parent{
    background-color: #242424;
    width: 40vw;
    height: 30vh;
    padding: 1%;
    display: inline-block;
    margin-top: 2%;
    box-shadow: 0px 0px 15px 1px #808080;
    margin-left: 3%;
}

.parent-div{
    height: 70vh;
    margin-left: 50%;
    margin-top: 08%;
    display: flex;
    flex-direction: column;
}

.child-one{
    background-color: #242424;
    position: relative;
    top: 5%;
    left: 15%;
    width: 35vw;
    height: 60vh;
    box-shadow: 0px 0px 15px 1px #808080;
    
}

.child-two{
    background-color: #242424;
    position: relative;
    bottom: 65%;
    right: 80%;
    width: 35vw;
    height: 50vh;
    box-shadow: 0px 0px 15px 1px #808080;
}

.salary-input{
    width: 31vw;
    text-align: center;
    height: 5vh;
    margin-left: 5%;
    margin-top: 2%;
    border-radius: 10px;
    border: none;
}

.monthly{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2%;
    height: 15vh;
}

.amount-color{
    color: #ffffff;
}

.monthly-border{
    margin-left: 1%;
    width: 23%;
    margin-left: 1%;
}

.yearly{
    display: flex;
    justify-content: space-evenly;
    margin-top: 0%;
    height: 15vh;
}

.border{
    width: 8vw;
    height: 10vh;
}

.border-tax{
    border-left: 1px solid #000000;
    padding: 0.2%;
}

.yearly-tax{
    width: 6vw;
    position: relative;
    left: 2%;
}

.calculate-btn{
    background-color: #00517c;
    border-radius: 50px;
    color: #ffffff;
    border: none;
    padding: 1.5%;
    width: 30vw;
    margin-left: 7%;
    margin-top: 4%;
}

.success{
    width: 5vw;
    text-align: center;
    position: relative;
    bottom: 10%;
    color: #13e413;
    font-weight: bold;
}

.salary-btn{
    font-size: 0.7rem;
    display: block;
    width: 15vw;
    margin-left: 25%;
    margin-top: 1.5%;
    background-color: #ffffff;
    border: none;
    font-weight: bold;
    text-align: center;
}

.salary-btn:hover{
    background-color: #000000;
    color: #ffffff;
}

.select-salary{
    background-color: #000000;
    color: #13e413;
    text-align: center;
    padding: 0.5%;
    position: relative;
    bottom: 10%;
}



.second-child-position{
    padding: 2%;
}

.tax-list{
    width: 15vw;
    height: 5vh;
}

.second-input{
    width: 15vw;
    height: 4vh;
    margin-left: 2%;
    text-align: center;
}

.same-classname{
    width: 16vw;
    height: 10vh;
    border: 2px solid #000000;
}

.second-child-first-component{
    display: flex;
    margin-top: 5%;
}

.second-child-second-component{
    display: flex;
    height: 20vh;
}

.classname-one{
    margin-left: 4%;
}

.second-child-position{
    margin-left: 4%;
}

.first{
    border-top: none;
    border-left: none;
    border-right: none;
    height: 20vh;
}

    .second{
    border-top: none;
    border-right: none;
    height: 20vh;
}

.third{
    border-top: none;border-left: none;
    border-bottom: none;
    border-right: none;
}

.fourth{
    border-top: none;
    border-right: none;
    border-bottom: none;
    height: 18vh;
}

.filer{
    margin-left: 2%;
    color: white;
    font-weight: bold;
}

.non-filer{
    margin-left: 2%;
    margin-top: 20%;
    color: white;
    font-weight: bold;
    display: block;
}

.amountForFiler{
    color: #13e413;
    position: relative;
    top: 25%;
    right: 14%;
    font-weight: bold;
}

.amountForNonFiler{
    color: #13e413;
    font-weight: bold; 
    position: relative; 
    left: 5%;
}

.font-weight{
    font-size: 16px;
}

.non-filer-one{
    position: absolute;
    left: 52%;
    top: 52%;
}

.non-filer-two{
    position: absolute;
    left: 52%;
    top: 92%;
}

.amountForWht{
    color: #13e413;
    font-weight: bold;
}


/* Media Queries */

/* For 992px Devices */

@media screen and (max-width: 992px) {

.yearly-tax{
    width: 6vw;
    position: relative;
    margin-right: 5%;
}

.responsive-monthly{
    position: relative;
    top: 10%;
}

.non-filer-one{
    position: absolute;
    left: 52%;
    top: 52%;
}

.amountForFiler{
    color: #13e413;
    position: relative;
    top: 25%;
    right: 19%;
    font-weight: bold;
}

    
}


/* For 768px Devices */

@media screen and (max-width: 768px) {

    .child-one{
        position: absolute;
        top: 25%;
        left: 15%;
        width: 70vw;
        height: 60vh;        
    }

    .child-two{
        background-color: #242424;
        position: absolute;
        top: 95%;
        left: 15%;
        width: 70vw;
        height: 60vh;
        box-shadow: 0px 0px 15px 1px #808080;
    }

    .salary-input{
        width: 63vw;
        margin-left: 5%;
        margin-top: 2%;
        border: none;
        box-shadow: 0px 0px 10px 2px #808080;
    }

    .calculate-btn{
        background-color: #000080d5;
        color: #ffffff;
        border: none;
        padding: 1%;
        width: 60vw;
        margin-left: 7%;
        margin-top: 2%;
    }

    .yearly-tax{
        width: 6vw;
        position: relative;
        left: 6.5%;
    }

    .responsive-monthly{
        position: relative;
        top: 0%;
    }


.yearly{
    display: flex;
    justify-content: space-evenly;
    margin-top: 0%;
}

.monthly{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2%;
    height: 20vh;
}

.tax-list{
    width: 30vw;
    height: 5vh;
}

.second-input{
    width: 30vw;
    height: 4vh;
    margin-left: 2%;
    text-align: center;
}

.same-classname{
    width: 32vw;
    height: 20vh;
    /* border: 2px solid #000000; */
}


.fourth{
    border-top: none;
    border-bottom: none;
    border-right: none;
}

.fourth{
    border-top: none;
    border-right: none;
    border-bottom: none;
    height: 22vh;
}


.amountForFiler{
    color: #13e413;
    margin-left: 8%;

}

.non-filer-one{
    position: absolute;
    left: 52%;
    top: 53%;
}


.first{
    height: 23vh;
}

.second{
    height: 23vh;
}
    

}



/* For 600px Devices */

@media screen and (max-width: 600px) {

    .child-two{
        top: 100%;
    }

    .yearly-tax{
        width: 6vw;
        position: relative;
        left: 4.5%;
    }

.amountForFiler{
    color: #13e413;
    position: relative;
    right: 24%;

}


.non-filer-one{
    position: absolute;
    left: 52%;
    top: 48%;
}


.non-filer-two{
    position: absolute;
    left: 52%;
    top: 85%;
}
   


}


/* For 512px Devices */

@media screen and (max-width: 512px) {

    .yearly-tax{
        width: 6vw;
        position: relative;
        left: 3%;
    }

    .yearly-success{
        position: relative;
    }
    
    .responsive-success{
        position: absolute;
        top: 80%;
        right: 20%;
        
    }

    .monthly-yearly-success-one{
        position: absolute;
        bottom: 53%;
    }
    

    .monthly-yearly-success-two{
        position: absolute;
        bottom: 14%;
    }

    .amountForFiler{
        right: 26%;
    
    }

}


/* For 480px Devices */

@media screen and (max-width: 480px) {

/* 
    .btn-parent{
        height: 37vh;
    }

    .child-one{
        top: 65%;        
    }

    .child-two{
        top: 130%;
        height: 55vh;
    }

    .two-point-five{
        width: 50vw;
    }

    .yearly-tax{
        left: 2.5%;
    }

    .responsive-monthly{
        position: relative;
        top: 13%;
    }

.amountForFiler{
    margin-left: 5%;
    margin-top: 5%;
    display: block;
    font-size: 1rem;}

.amountForNonFiler{
    margin-left: 3%;
    margin-top: 5%;
    display: block;
    font-size: 1rem;
}

.same-classname{
    height: 20vh;

} */

}



/* For 420px Devices */

@media screen and (max-width: 420px) {


    .btn-parent{
        height: 50vh;
    }

    .child-one{
        top: 80%;        
    }

    .child-two{
        top: 150%;
        height: 55vh;
    }

    .two-point-five{
        width: 50vw;
    }

    .responsive-monthly{
        position: relative;
        top: 13%;
    }

.amountForFiler{
    margin-left: 5%;
    margin-top: 5%;
    display: block;
    font-size: 1rem;}

.amountForNonFiler{
    margin-left: 3%;
    margin-top: 5%;
    display: block;
    font-size: 1rem;
}

.same-classname{
    height: 20vh;

}

.border-tax{
    border-left: 1px solid #000000;
    position: relative;
    left: 14%;
    padding: 0.2%;
}

.responsive-salary-after-tax{
    /* background-color: red; */
    position: relative;
    top: 46%;
    right: 15%;
}

.responsive-monthly{
    position: absolute;
    top: 26%;
}


.responsive-success{
    /* background-color: red; */
    position: absolute;
    top: 40%;
    right: 20%;
    
}

.responsive-yearly-salary{
    /* background-color: red; */
    margin-top: 30%;
    position: relative;
    right: 10%;
}

.yearly-success{
    position: absolute;
    right: 80%;
}

.child-one{
    height: 65vh;
}

.yearly-tax{
    left: 15%;
}

.monthly-tax, .salary-after-tax{
    position: relative;
    left: 4%;
}

.success-digit{
    position: relative;
    left: 50%;
}

.after-tax{
    position: relative;
    left: 6%;
}
}


/* For 380px Devices */

@media screen and (max-width: 380px) {


    .btn-parent{
        height: 50vh;
    }

    .child-one{
        top: 76%;        
    }

    .child-two{
        top: 147%;
        height: 55vh;
    }

    .two-point-five{
        width: 50vw;
    }

    .responsive-monthly{
        position: relative;
        top: 13%;
    }

.amountForFiler{
    margin-left: 5%;
    margin-top: 5%;
    display: block;
    font-size: 1rem;}

.amountForNonFiler{
    margin-left: 3%;
    margin-top: 5%;
    display: block;
    font-size: 1rem;
}

.same-classname{
    height: 20vh;

}

.border-tax{
    border-left: 1px solid #000000;
    position: relative;
    left: 14%;
    padding: 0.2%;
}

.responsive-salary-after-tax{
    /* background-color: red; */
    position: relative;
    top: 46%;
    right: 15%;
}

.responsive-monthly{
    position: absolute;
    top: 26%;
}


.responsive-success{
    /* background-color: red; */
    position: absolute;
    top: 40%;
    right: 20%;
    
}

.responsive-yearly-salary{
    /* background-color: red; */
    margin-top: 30%;
    position: relative;
    right: 10%;
}

.yearly-success{
    position: absolute;
    right: 80%;
}

.child-one{
    height: 65vh;
}

.yearly-tax{
    left: 14%;
}

.monthly-tax{
    position: relative;
    left: 6%;
}

.success-digit{
    position: relative;
    left: 50%;
}

.after-tax{
    position: relative;
    left: 6%;
}

.select-salary{
    bottom: 7%;
}

.salary-after-tax{
    position: relative;
    left: 1%;
}

}

/* For 360px Devices */

@media screen and (max-width: 360px) {


    .btn-parent{
        height: 50vh;
    }

    .child-one{
        top: 80%;  
        height: 63vh !important;
        /* background-color: red;   */
    }

    .child-two{
        top: 153%;
        height: 55vh;
    }

    .two-point-five{
        width: 50vw;
    }

    .responsive-monthly{
        position: relative;
        top: 13%;
    }

.amountForFiler{
    margin-left: 5%;
    margin-top: 5%;
    display: block;
    font-size: 1rem;}

.amountForNonFiler{
    margin-left: 3%;
    margin-top: 5%;
    display: block;
    font-size: 1rem;
}

.same-classname{
    height: 20vh;

}

.border-tax{
    border-left: 1px solid #000000;
    position: relative;
    left: 14%;
    padding: 0.2%;
}

.responsive-salary-after-tax{
    /* background-color: red; */
    position: relative;
    top: 46%;
    right: 16%;
}

.responsive-monthly{
    position: absolute;
    top: 26%;
}


.responsive-success{
    /* background-color: red; */
    position: absolute;
    top: 45%;
    right: 5%;
    
}

.responsive-yearly-salary{
    /* background-color: red; */
    margin-top: 30%;
    position: relative;
    right: 10%;
}

.yearly-success{
    position: absolute;
    right: 75%;
}

.child-one{
    height: 65vh;
}

.yearly-tax{
    left: 14%;
}

.monthly-tax{
    position: relative;
    left: 6%;
}

.success-digit{
    position: relative;
    left: 15%;
}

.after-tax{
    position: relative;
    left: 6%;
}

.select-salary{
    bottom: 7%;
}

.salary-after-tax{
    position: relative;
    left: 1%;
}

.yearly-tax{
    width: 6vw;
    position: relative;
    left: 13%;
}


.salary-input{
    width: 62vw;
    margin-left: 5%;
    margin-top: 4%;
    border: none;
    box-shadow: 0px 0px 10px 2px #808080;
}


}

