body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000000;
    font-family: 'Roboto', sans-serif;
}


.marquee-parent{
    width: 100vw;
}

.marquee-excellence{
    background-color: #13e413;
    color: black;
    font-size: 1vw;
    font-weight: bold;
    padding: 1vw;
    word-spacing: 0.5vw;

}

.marquee-slogan{
    background-color: white;
    font-size: 1vw;
    padding: 1vw;
    font-weight: bold;
    word-spacing: 0.5vw;
}


small{
    color: #00517c;
}

.main-heading-parent{
    background-color: #242424;
    padding: 0.1%;
}

.heading-main{
    color: #13e413;
    text-align: center;
}

.monthly-salary, .monthly-tax, .salary-after-tax, .yearly-salary, .yearly-tax{
    color: white;
}

.btn-parent{
    background-color: #242424;
    width: 40vw;
    height: 30vh;
    padding: 1%;
    display: inline-block;
    margin-top: 2%;
    box-shadow: 0px 0px 15px 1px #808080;
    margin-left: 3%;
}

.parent-div{
    height: 70vh;
    margin-left: 50%;
    margin-top: 08%;
    display: flex;
    flex-direction: column;
}

.child-one{
    background-color: #242424;
    position: relative;
    top: 5%;
    left: 15%;
    width: 35vw;
    height: 60vh;
    box-shadow: 0px 0px 15px 1px #808080;
    
}

.child-two{
    background-color: #242424;
    position: relative;
    bottom: 65%;
    right: 80%;
    width: 35vw;
    height: 70vh;
    box-shadow: 0px 0px 15px 1px #808080;
}

.salary-input{
    width: 31vw;
    text-align: center;
    height: 5vh;
    margin-left: 5%;
    margin-top: 2%;
    border-radius: 10px;
    border: none;
}

.monthly{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2%;
    height: 15vh;
}

.amount-color{
    color: #ffffff;
}

.monthly-border{
    margin-left: 1%;
    width: 23%;
    margin-left: 1%;
}

.yearly{
    display: flex;
    justify-content: space-around;
    margin-top: 0%;
    height: 15vh;
}

.border{
    width: 8vw;
    height: 10vh;
}

.yearly-tax{
    width: 6vw;
    margin-right: 0vw;
}

.calculate-btn{
    background-color: #00517c;
    border-radius: 50px;
    color: #ffffff;
    border: none;
    padding: 1.5%;
    width: 30vw;
    margin-left: 7%;
    margin-top: 4%;
}

.success{
    width: 5vw;
    text-align: center;
    position: relative;
    bottom: 10%;
    color: #13e413;
    font-weight: bold;
    font-size: 1vw  ;
}

.salary-btn{
    font-size: 0.7rem;
    display: block;
    width: 15vw;
    margin-left: 25%;
    margin-top: 1.5%;
    background-color: #ffffff;
    border: none;
    font-weight: bold;
    text-align: center;
}

.salary-btn:hover{
    background-color: #000000;
    color: #ffffff;
}

.select-salary{
    background-color: #000000;
    color: #13e413;
    text-align: center;
    padding: 0.5%;
    position: relative;
    bottom: 10%;
}

.second-child-position{
    padding: 2%;
}

.tax-list{
    width: 15vw;
    height: 5vh;
}

.second-input{
    width: 15vw;
    height: 4vh;
    margin-left: 2%;
    text-align: center;
}

.same-classname{
    width: 16vw;
    height: 10vh;
    border: 2px solid #000000;
}

.second-child-first-component{
    display: flex;
    margin-top: 5%;
}

.second-child-second-component{
    display: flex;
    height: 20vh;
}

.classname-one{
    margin-left: 4%;
}

.second-child-position{
    margin-left: 4%;
}

.first{
    border-top: none;
    border-left: none;
    border-right: none;
    height: 20vh;
}

    .second{
    border-top: none;
    border-right: none;
    height: 20vh;
}

.third{
    border-top: none;border-left: none;
    border-bottom: none;
    border-right: none;
}

.fourth{
    border-top: none;
    border-right: none;
    border-bottom: none;
    height: 18vh;
}

.filer{
    margin-left: 2%;
    color: white;
    font-weight: bold;
}

.non-filer{
    margin-left: 2%;
    margin-top: 20%;
    color: white;
    font-weight: bold;
    display: block;
}

.amountForFiler{
    color: #13e413;
    position: relative;
    top: 7vw;
    right: 1vw;
    font-size: 1vw;
    font-weight: bold;
}

.amountForNonFiler{
    color: #13e413;
    font-weight: bold; 
    position: relative; 
    font-size: 1vw;
}

.font-weight{
    font-size: 1vw;
}

.non-filer-one{
    position: relative;
    right: 3.4vw;
    bottom: 2.5vw;
}

.non-filer-two{
    position: relative;
    right: 3.4vw;
    bottom: 2.5vw;
}

.amountForWht{
    color: #13e413;
    font-weight: bold;
    font-size:1vw;
}

.monthly-salary{
    position: relative;
    right: 1vw;
}

.monthly-tax{
    margin-right: 1vw;
}

footer{
    height: 15vh;
    background-color: #242424;
}

/* Media Queries */

/* For 992px Devices */

@media screen and (max-width: 992px) {

.yearly-tax{
    width: 6vw;
    position: relative;
    margin-right: 5%;
}

.responsive-monthly{
    position: relative;
    top: 10%;
}

.non-filer-one{
    position: relative;
    right: 6.5vw;
    top: 2.3vw;
}

.non-filer-two{
    position: relative;
    right: 6.5vw;
    top: 2.3vw;
}

.amountForFiler{
    color: #13e413;
    position: relative;
    top: 2.5vw;
    right: 3.3vw;
    font-size: 1.2vw;
}

.amountForNonFiler{
    color: #13e413;
    font-weight: bold; 
    position: relative; 
    right: 6.5vw;
    font-size: 1.2vw;
}

.child-two{

    width: 40vw;

}


.same-classname{
    width: 20vw;
    height: 20vh;
}

.child-one{
    background-color: #242424;
    position: relative;
    top: 5%;
    left: 15%;
    width: 35vw;
    box-shadow: 0px 0px 15px 1px #808080;
    
}

    
}


/* For 768px Devices */

@media screen and (max-width: 768px) {

    .child-one{
        position: absolute;
        top: 25%;
        left: 15%;
        width: 70vw;
        height: 60vh;       
    }

    .success{
        font-size: 2vw;
    }

    .yearly-success{
        top: 3vh;
    }

    .amountForWht{
        font-size:2vw;
    }
    

.amountForFiler{
    top: 4vw;
    right: 7vw;
    font-size: 2vw;
}


    .child-two{
        position: absolute;
        top: 95%;
        left: 15%;
        width: 70vw;
        height: 60vh;
    }

    .salary-input{
        width: 63vw;
        margin-left: 5%;
        margin-top: 2%;
        border: none;
    }

    .calculate-btn{
        background-color: #000080d5;
        color: #ffffff;
        border: none;
        padding: 1%;
        width: 60vw;
        margin-left: 7%;
        margin-top: 2%;
    }

    .yearly-tax{
        width: 6vw;
        left: 6.5%;
    }

    .responsive-monthly{
        position: relative;
        top: 0%;
    }

.non-filer{
    margin-top: 18%;
}

.monthly{
       height: 20vh;
}

.tax-list{
    width: 30vw;
    height: 5vh;
}

.second-input{
    width: 30vw;
    height: 4vh;
    margin-left: 2%;
    text-align: center;
}

.same-classname{
    width: 32vw;
    height: 20vh;
}


.fourth{
    border-top: none;
    border-bottom: none;
    border-right: none;
}

.fourth{
    border-top: none;
    border-right: none;
    border-bottom: none;
    height: 22vh;
}


.amountForFiler{
    color: #13e413;
    margin-left: 8%;

}

.non-filer-one{
    position: absolute;
    left: 51%;
    top: 53% !important;
    font-size: 2vw;
}


.first{
    height: 23vh;
}

.second{
    height: 23vh;
}

    .amountForNonFiler{
        font-size: 2vw;
        right: 9vw;
        top: 3vw;
    }
       

}



/* For 600px Devices */

@media screen and (max-width: 600px) {

    .child-two{
        top: 100%;
    }

    .yearly-tax{
        width: 6vw;
        position: relative;
        left: 4.5%;
    }

.amountForFiler{
    color: #13e413;
    position: relative;
    right: 24%;

}


.non-filer-one{
    position: absolute;
    left: 52%;
    top: 48%;
}


.non-filer-two{
    position: absolute;
    left: 52%;
    top: 85%;
}

}


/* For 512px Devices */

@media screen and (max-width: 512px) {

    .yearly-tax{
        left: 3%;
    }

    .monthly-yearly-success-one{
        position: absolute;
        bottom: 51%;
    }

    .amountForFiler{
        right: 26%;
    }

    .non-filer-one{
        top: 46% !important;
    }

}


/* For 480px Devices */

@media screen and (max-width: 480px) {


    .amountForFiler{
        color: #13e413;
        position: relative;
        right: 27%;
        top: 20%;
    
    }
    
.calculate-btn{
    border-radius: 50px;
    padding: 1.5vw;
    font-weight: bold;
    margin-left: 7%;
    margin-top: 4%;
}

.monthly-border{
    margin-left: 1%;
    width: 20vw;
    margin-left: 1%;
}

.yearly-salary{
    width: 20vw;
    padding-right: 10vw;
}

.responsive-yearly-salary{

    position: relative;
    left: 10vw;
}

.yearly-tax{
    width: 15vw;
    position: relative;
    left: 7vw;
}

.monthly-yearly-success-one{
    position: relative;
    top: 0vw;
}

.success{
    width: 5vw;
    color: #13e413;
    font-weight: bold;
    font-size: 2.5vw  ;
}

.monthly-yearly-success-two{
    position: relative;
    top: 0;
}

.responsive-success{
    position: absolute;
    top: 13vw;
    right: 20%;
    
}

.amountForWht{
    color: #13e413;
    font-weight: bold;
    font-size:3vw;
}

.amountForFiler{
    font-size: 3vw;
}

.amountForNonFiler{
    font-size: 3vw;
}

.yearly-success{
    top: 5%;
}


}

/* For 420px Devices */

@media screen and (max-width: 420px) {


.child-one{
    left: 8vw;
    width: 85vw;
    height: 60vh;
    
}

.child-two{
    left: 8vw;
    top:110vw;
    width: 85vw;
    height: 60vh;
}

.salary-input{
    width: 75vw;
}

.calculate-btn{
    width: 72vw;
}

.yearly-tax{
    left: 6vw;
}

.yearly-salary{
    left: 6vw;
}

.monthly-yearly-success-one{
    top: 10vw;
}

.responsive-success{
    top: 15.5vw;
    right: 30%;
}

.monthly-salary{
    position: absolute;
    left: 7vw;
}

.after-tax{
    width: 25vw;
}

.tax-list{
    width: 35vw;

}

.second-input{
    width: 35vw;
}

.first{
    width: 80vw;
}

.third{
    width: 37.1vw;
}


.second{

    width: 80vw;
    position: relative;
    right: 1%;
}


.non-filer-one{
margin-top: 7vw;
left: 2vw;
}

.filer{
    margin-left: 2vw;
    font-weight: bold;
}
.non-filer-one{
    margin-left: 1vw;
}

.non-filer{
    margin-left: 2vw;
    margin-top: 8vw;
}
  
}

/* For 400px */

@media screen and (max-width: 400px) {

.child-two{
    top:120vw;
}

.responsive-success{
    right: 2vw;
    top: 16.5vw;
}

.amountForFiler{
    right: 10.1vw;
}

.yearly-tax{
    left: 5vw;
}

.monthly-tax{
    margin-left: 5vw;
}

.yearly-tax{
    margin-left: 2vw;
}

.responsive-monthly{
    margin-left: 5vw;
}

.monthly-yearly-success-one{
    top: 11vw;
    left: 2vw;
}

.yearly-success{
    left: 4vw;
}

}


/* For 380px Devices */

@media screen and (max-width: 385px) and (max-height:640px) {

    .monthly-yearly-success-one{
        position: absolute;
        top: 40vw;
        left: 3vw;
    }

    .responsive-monthly{
        margin-left: 2vw;
    }
    
    .monthly-yearly-success-two{
        left: 6vw;
        top: 1vw;
    }
    
    .monthly-salary{
        top: 22.5vw;
        left: 2.5vw;
    }

        .border{
            position: relative;
            right: 10%;
        }

           
    .responsive-success{
        position: absolute;
        top: 18vw;
        right: 7vw;
    }

    .yearly-tax{
        width: 20vw;
        position: relative;
        left: 6vw;
    }
    
    .yearly-salary{
        position: relative;
        left: 6vw;
    }
    
    .monthly-tax{
        margin-left: 0;
        
    }
    .child-two{
        bottom: 0;
        top: 150vw !important;
    }

    .non-filer{
        margin-top: 12vw;
    }

    .non-filer-one{
        margin-top: 25%;
    }
    

}

/* For 360px Devices */

@media screen and (max-width: 360px) and (max-width:640px) {

    .child-two{
        margin-top: 20%;
    }

    .after-tax{
        margin-left: 5vw;
        width: 30vw;
    }
    
    .monthly-yearly-success-one{
        position: absolute;
        top: 42vw;
        left: 3vw;
    }

    .responsive-monthly{
        margin-left: 2vw;
    }
    
    .monthly-yearly-success-two{
        left: 9vw;
        top: 1vw;
    }

    .monthly-salary{
        top: 23.5vw;
        left: 2.5vw;
    }


    .responsive-success{
        top: 19vw;
        right: 5vw;
        
    }

    .yearly-salary{
        width: 30vw;
        left: 8vw;
    }

    .yearly-success{
        left: 7vw;
    }

    .amountForFiler{
        right: 11vw;
    }

}

/* For 340px devices */

@media screen and (max-width:340px) {
    .child-two{
        margin-top: 15%;
    }

    .after-tax{
        margin-left: 8vw;
        font-size: 3vw;
        width: 30vw;
    }
    
    .monthly-yearly-success-one{
        position: absolute;
        top: 40vw;
        left: 3vw;
    }

    .responsive-monthly{
        margin-left: 2vw;
    }
    
    .monthly-yearly-success-two{
        left: 9vw;
        top: 2vw;
    }
    .monthly-salary{
        top: 25vw;
        font-size: 3vw;
    }

    .yearly-salary{
        font-size: 3vw;
    }

    .monthly-tax{
        font-size: 3vw;
        margin-top: 8vw;
    }

    .yearly-tax{
        font-size: 3vw;
        position: relative;
        left: 8.2vw;
    }

    .salary-after-tax{
        font-size: 3vw;
        margin-top: 8vw;
    }
 
    .responsive-success{
        top: 18vw;
        right: 4vw;
        
    }

    .yearly-salary{
        width: 30vw;
        left: 8.5vw;
    }

    .yearly-success{
        left: 10vw;
        top: 4vw;
    }

    .amountForFiler{
        right: 11vw;
    }
    
}

